@media screen and (max-width: 600px) {
    /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos para tabletas */
}

@media screen and (min-width: 1025px) {
    /* Estilos para escritorio */
}

@font-face {
    font-family:Simpsonfont ;
    src: url(../css/Simpsonfont.ttf);
}

.titulo-principal{
 text-align: center;
 color : #f1f525;
 
}

body {
    background-image: url(../images/fondo-nubes-2.webp);
    background-size: cover;
    color: rgb(13, 14, 12);
    font-family: Simpsonfont;
}
a {
    color: rgb(5, 5, 5);
    padding-left: 50px;
}



.encabezado-derecho {
    text-align: right;
    padding: 2px;
   
        display: flex;
        justify-content: center;
        align-items:center;
        margin: 20px 0;
}

.encabezado-derecho img {
    border: none;
    width: 30px;
    height: 30px;
}

.boton-consultas {
    background-color: #f1f525;
    border: 1px solid black;
    border-radius: 7px;
    color: rgb(12, 10, 10);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
.seccion-contacto{
    margin:auto;
}

footer{
    color: rgb(100, 49, 196);
}
div.anuncio {
     margin: 0 auto;
     padding: 1px;
}   
.flex-container {
    display: flex;
    background-color: rgba(230, 230, 236, 0);
    justify-content: center; /* Centrar horizontalmente */
    
}

.flex-container>p{
    padding-right: 500px;
    text-align: center;
}


p{
    text-align: center;
}
img{
    border: 2px solid black;
    margin:  auto;
}
.p .boton-consultas {
    background-color: #f1f525;
    border: 1px solid black;
    border-radius: 7px;
    color: rgb(12, 10, 10);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    cursor: pointer;

  }

  .volver {
    margin: auto;
  }

    /* Estilos generales */
fieldset {
    width: 80%;
    margin: 0 auto; /* Centrar el fieldset */
}

label, input, textarea {
    display: block;
    margin-bottom: 10px;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    fieldset {
        width: 100%; /* Otra configuración para pantallas más pequeñas */
    }
}
.formulario {
    max-width: 800px;
    margin: 0 auto;
}
body {
   /* font-family: 'Arial', sans-serif;*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.formulario {
    max-width: 800px;
    margin: 0 auto;
}

fieldset {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

legend {
    font-weight: bold;
}

label,
input,
textarea {
    display: block;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
}

input,
textarea {
    padding: 10px;
}

input[type="submit"] {
    background-color: #f1f525;
    color: rgb(6, 6, 6);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    .formulario,
    fieldset {
        width: 100%;
    }
}
h1, h2 {
    text-align: center;
}

/* Media query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    h1, h2 {
        text-align: left; /* Alinear a la izquierda en pantallas más pequeñas */
    }
} 
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.header {
    padding: 20px 0;
}
.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navegacion a {
    color: #f1f525;
    text-decoration: none;
    margin-right: 20px;
}
h1 {
    font-size: 3em;
    margin: 20px 0;
}
h2{
    font-size: 2.5em;
    margin: 40px 0;
    display: flex;
    justify-content: center;
}
.imagen img {
    max-width: 100%;
    height: auto;
}
.texto-nosotros {
    margin-top: 30px;
}
.iconos-nosotros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.icono {
    text-align: center;
    margin: 0 20px;
    padding: 50px;
}
.footer {
    color:#f1f525;
    text-align: center;
    padding: 40px 0;
}
.fas, .fab {
    font-size: 24px;
}
.fa-home {
    color:#f1f525;
}
div.nosotros {
    margin: 0 auto;
    padding: 1px;
}  
img{
    border: 2px solid black;
    margin:  auto;
}
.titulo{
    font-size: 25px;
    text-align: left;
    color:#f1f525;
}
.encabezado-derecho {
    text-align: right;
    padding: 2px;
}
.flex-container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
}

.nosotros {
    text-align: center; /* Centrar el contenido dentro de cada bloque "nosotros" */
    margin: 10px; /* Agregar espacio entre los bloques "nosotros" */
    max-width: 200px; /* Limitar el ancho máximo de cada bloque "nosotros" */
}

.nosotros img {
    max-width: 100%; /* Asegurar que las imágenes no sean más anchas que su contenedor */
    height: auto; /* Permitir que la altura se ajuste automáticamente */
}
.volver-prop{
    margin: 50px 300px ;
}