@media screen and (max-width: 600px) {
    /* Estilos para dispositivos móviles */
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos para tabletas */
}

@media screen and (min-width: 1025px) {
    /* Estilos para escritorio */
}

body {
    background-image: url(../images/fondo1.jpg);
    background-size: cover;
    color: rgb(226, 221, 233);
}
a {
    color: rgb(203, 206, 212);
}


header{
    text-align: center;
    padding-left: 350px;
}

.encabezado-derecho {
    text-align: right;
    padding: 10px;
}

footer{
    color: rgb(100, 49, 196);
}
.anuncio {
     margin: 10px;
     align-items: center;
}
.flex-container {
    display: flex;
    background-color: blue;
    align-self: center;
}

.flex-container>p{
    padding-right: 500px;
    text-align: center;
}


p{
    text-align: center;
}
img{
    padding-left: 100px;
}